.parent {
  display: grid;
  grid-template-columns: repeat(7, 1fr, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-row-gap: 0;
  margin-top: 20vh;
  position: absolute;
}
.ProductPage {
  grid-area: 1 / 1 / 6 / 7;
}
.ProductImage {
  grid-area: 2 / 2 / 5 / 4;
  max-width: 100%;
  height: auto;
}

.ProductName {
  grid-area: 2 / 4 / 3 / 7;
  h1 {
    margin-left: 20px;
    font-size: 2.5rem;
    margin-top: 10px;
    color: #fefefe;
  }
  .PriceTag {
    border: 10px solid #fefefe;
    border-radius: 10px;
    background: #fefefe;
    font-weight: 600;
    margin-left: 20px;
  }
}
.Description {
  grid-area: 3 / 4 / 4 / 7;
  margin-right: 20px;
  margin-bottom: 10px;
}
.TechnicalSpecs {
  grid-area: 4 / 4 / 5 / 7;
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  background: #fefefe;
  border-radius: 10px;
  border: 20px solid #fefefe;
  margin-right: 20px;
}

.TechnicalSpecsDesc {
  font-size: small;
  column-gap: 100px;
  line-height: 1.1rem;
  h3 {
    text-align: center;
    margin-bottom: 5px;
  }
}
