.QuantityButton {
  border: 10px solid #fefefe;
  border-radius: 10px;
  background: #fefefe;
  font-weight: 600;
  display: inline-block;
  height: 20px;
  margin-left: 5px;

  Button {
    border: black solid 0.5px;
    border-radius: 10%;
    background: black;
    cursor: pointer;
    font-weight: 700;
    color: white;
  }

  Button:hover {
    background: #e6e6e6;
    color: black;
    border: #e6e6e6 solid 0.5px;
  }
  .QuantityAmount {
    margin-left: 5px;
    margin-right: 5px;
  }
}
