.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cartItems {
  width: 50%;
  padding-right: 20px;
  border-right: 1px solid #ccc;
  color: white;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: white 1px solid;
  padding: 5px;
}

.itemName {
  flex: 1;
  font-weight: bold;
  padding: 5px;
}

.itemPrice {
  flex-shrink: 0;
  width: 80px;
  color: whitesmoke;
  font-weight: 700;
}

.itemQuantity {
  flex-shrink: 0;
  color: black;
  font-weight: 700;
}

.cartSummary {
  width: 50%;
  padding-left: 20px;
  color: white;
  font-weight: 500;
}

.totalAmount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.totalPrice {
  font-weight: bold;
  border-bottom: 2px solid white;
}

.checkoutButton {
  display: block;
  width: 100%;
  padding: 10px;
  color: white;
  background: black;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.checkoutButton:hover {
  background: #e6e6e6;
  color: black;
}

.clearCartButton {
  background: black;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.clearCartButton:hover {
  background: #e6e6e6;
  color: black;
}

.removeItemButton {
  background: black;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.removeItemButton:hover {
  background: #e6e6e6;
  color: black;
}
