.Navbar {
  display: flex;
  justify-content: space-between;
  background: transparent;
  text-transform: uppercase;

  .Logo {
    font-family: 'ScriptaGothic', Arial, Helvetica, sans-serif;
    font-size: 4rem;
  }

  .Cart {
    font-family: 'Archivo', Arial, Helvetica, sans-serif;
    font-size: 2rem;
  }

  .Bikes {
    font-family: 'Archivo', Arial, Helvetica, sans-serif;
    font-size: 2rem;
  }

  a:link {
    text-decoration: none;
    color: black;
  }

  a:visited {
    color: black;
  }

  a:hover {
    color: #cfe5d6;
  }

  a:active {
    color: black;
  }

  :first-child {
    margin-left: 20px;
  }
  :last-child {
    margin-right: 20px;
  }
}
